<head>
    <title>Create Recipe</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
</head>
<body>
    {%  if error is defined %}
         <dialog id="error" open>
                <h2>Error</h2>
                {% for error in errors %}
                   <li>{{ error }}</li>
                {% endfor %}
                <button class='close' onclick='error.close()'>confirm</button>
         </dialog>
    {% endif %}
    <main>
        <form method="POST" action="/recipe/add" enctype="multipart/form-data" class="new-recipe">
            <h1>Create a New Recipe</h1>
            <label for="title">Recipe Name:</label>
            <input type="text" id="title" name="title" required>
            <label class="file-upload">
                <img src="/static/icons/upload.svg" alt="Upload Icon">
                Upload Image
                <input type="file" id="img_path" name="img_path" accept="image/*" required>
            </label>

            <label>
                Portions:
                <input type="number" name="portions">
            </label>
            <label>
                Preparation Time:
                <input type="number" name="prep_time">
            </label>
            <label>
                Cooking Time:
                <input type="number" name="cook_time">
            </label>

            <button type="button" id="addIngredientButton">+ Add Ingredient</button>
            <fieldset id="ingredientsFieldset">
                <legend>Ingredients</legend>
                <div class="ingredient">
                    <label for="ingredientName">Ingredient Name:</label>
                    <input type="text" name="ingredientName[0]" required>
                    <label for="ingredientAmount">Amount:</label>
                    <input type="text" name="ingredientAmount[0]" required>
                </div>
            </fieldset>
            <div id="editor">
            </div>
            <input type="hidden" name="description" id="editorContent">
            <fieldset class="tags">
                <legend>Dietary Preferences</legend>
                <label for="vegetarian">Vegetarian
                    <input type="checkbox" value="vegetarian" name="tags[0]" id="vegetarian">
                </label>
                <label for="vegan">Vegan
                    <input type="checkbox" value="vegan" name="tags[1]" id="vegan">
                </label>
                <label for="glutenFree">Gluten Free
                    <input type="checkbox" value="glutenFree" name="tags[2]" id="glutenFree">
                </label>
                <label for="dairyFree">Dairy Free
                    <input type="checkbox" value="dairyFree" name="tags[3]" id="dairyFree">
                </label>
                <label for="nutFree">Nut Free
                    <input type="checkbox" value="nutFree" name="tags[4]" id="nutFree">
                </label>
            </fieldset>
            <fieldset class="tags">
                <legend>Cooking Method</legend>
                <label for="baking">Baking
                    <input type="checkbox" value="baking" name="tags[5]" id="baking">
                </label>
                <label for="grilling">Grilling
                    <input type="checkbox" value="grilling" name="tags[6]" id="grilling">
                </label>
                <label for="boiling">Boiling
                    <input type="checkbox" value="boiling" name="tags[7]" id="boiling">
                </label>
                <label for="frying">Frying
                    <input type="checkbox" value="frying" name="tags[8]" id="frying">
                </label>
            </fieldset>
            <fieldset class="tags">
                <legend>Preparation Time</legend>
                <label for="fastToMake">Fast to Make
                    <input type="checkbox" value="fastToMake" name="tags[9]" id="fastToMake">
                </label>
                <label for="slowCooked">Slow Cooked
                    <input type="checkbox" value="slowCooked" name="tags[10]" id="slowCooked">
                </label>
            </fieldset>
            <label for="is_public">Rezept öffentlich stellen</label><input type="checkbox" name="is_public" id="is_public" value="public">
            <input type="submit" value="Create Recipe">

        </form>
    </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
<script>
    let ingredientCount = 1;
            document.getElementById("addIngredientButton").addEventListener("click", function() {
                const fieldset = document.getElementById("ingredientsFieldset");
                const newIngredient = document.createElement("div");
                newIngredient.classList.add("ingredient");
                newIngredient.innerHTML = `
                    <label for="ingredientName">Ingredient Name:</label>
                    <input type="text" name="ingredientName[${ingredientCount}]" required>
                    <label for="ingredientAmount">Amount:</label>
                    <input type="text" name="ingredientAmount[${ingredientCount}]" required>
                `;
                ingredientCount++;
                fieldset.appendChild(newIngredient);
            });
            const quill = new Quill('#editor', {
                theme: 'snow'
            });
            document.querySelector("form").addEventListener("submit", function() {
                document.getElementById("editorContent").value = document.getElementsByClassName("ql-editor")[0].innerHTML;
            });
</script>