<!Doctype html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>

</head>
<body>
    <header>
        <h1>Welcome to the Recipe App!</h1>
        <nav>

            <div class="nav">
                <a href="/recipe/add/">Create Recipe</a>
                <a href="/logout" id="logout">Logout</a>
            </div>
        </nav>
        <div class="user-info">
            <p>Hello <strong>{{ username }}</strong>!</p>
        </div>
    </header>
    <div class="home-main">
        <h2>Your Recipes</h2>
        <div class="recipe-list">
            {% if recipes.length == 0 %}
                <p>No recipes found. Start creating your own!</p>
            {% else %}
                {% for recipe in recipes %}
                    <div class="recipe-card">
                        <img src="{{ recipe[0].img_path }}" alt="{{ recipe[0].title }}">
                        <h3>{{ recipe[0].title}}</h3>
                        <p>Portions: {{ recipe[0].portions }}</p>
                        <p>Prep Time: {{ recipe[0].prep_time }} minutes</p>
                        <p>Cook Time: {{ recipe[0].cook_time }} minutes</p>
                        <a href="/recipe/view/{{ recipe[0].id }}">View Recipe</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

</body>