<!Doctype HTML>
<head>
    <title>RecipeDB</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body class="bg-white">
    {% if success is defined %}
        {% if not success %}
            <dialog id="error" open>
                <h2>Error</h2>
                {% for error in errors %}
                   <li>{{ error }}</li>
                {% endfor %}
                <button class='close' onclick='error.close()'>confirm</button>
            </dialog>
        {% else %}
            <dialog id="success" open>
                <h2>Success</h2>
                    <p>Account was successfully created.</p>
                <button class='close' onclick='success.close()'>confirm</button>
            </dialog>
        {% endif %}
    {% endif %}
    <div class="flip-container">
            <div class="flipper" id="flipper">
                <div class="front">
                    <h1 class="title">Login</h1>
                    <form action="login" method="post">
                                <input type="text" name="username" placeholder="Username" required/>
                                <input type="password" name="password" placeholder="Password" required/>
                                <input type="submit" value="Login"/>
                    </form>
                    <a class="flipbutton" id="loginButton" href="#">Create my account →</a>
                </div>

                <div class="back">
                    <h1 class="title">Register</h1>
                    <form action="register" method="post">
                            <input type="text" name="username" placeholder="Username" required/>
                            <input type="password"  name="password" placeholder="Password" required/>
                            <input type="password" name="confirm_password" placeholder="confirm Password" required/>
                            <input type="submit" value="Sign up"/>
                    </form>
                    <a class="flipbutton" id="registerButton" href="#">Login to my account →</a>
                </div>
            </div>
    </div>
<script>
    var loginButton = document.getElementById("loginButton");
    var registerButton = document.getElementById("registerButton");

    loginButton.onclick = function(){
        document.querySelector("#flipper").classList.toggle("flip");
    }

    registerButton.onclick = function(){
        document.querySelector("#flipper").classList.toggle("flip");
    }
</script>
</body>